body {
    margin : 0;
    padding: 0;
}

textarea {
    resize    : none;
    width     : 100%;
    font-size : 30px;
    text-align: right;

}

.keyboard {
    width                : 600px;
    display              : grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows       : 50px;
}

.display {
    width: 600px;
}

.box2 {
    grid-column-start: 4;
    grid-row-start   : 4;
    grid-row-end     : 6;
}